body{
    background-image: url('/pics/background4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Allerta Stencil';
    background-color:black;
}
#logo{
    width:120;
    height:120;
    float:left;
    margin:3px;
}
#top{
    border-radius: 15px;
    background-color:orangered;
    width:99%;
    height:130px;
    float:left;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Stencil', sans-serif;
    border:gray 5px solid;
}
#top2{
    border-radius: 15px;
    background-color:gray;
    width:100%;
    height:130px;
    float:left;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Stencil', sans-serif;
}
#top3{
    border-radius: 15px;
    background-color:white;
    color:rgb(0,153,255);
    width:99%;
    height:130px;
    float:left;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: Arial Black, Helvetica, sans-serif;
    border:rgb(0,153,255) 5px solid;
}
#menu2{
    border:rgb(0,153,255) 5px solid;
    margin-top:30px;
    border-radius: 15px;
    float:left;
    height:fit-content;
    width:15%;
    background-color:white;
    font-family: Arial Black;
    padding-bottom:15px;
    padding:10px;
    text-align: center;
}
menu{
    border:gray 5px solid;
    margin-top:30px;
    border-radius: 15px;
    float:left;
    height:fit-content;
    width:14%;
    background-color:rgb(196, 194, 194);
    font-family: 'Stencil', sans-serif;
    padding-bottom:15px;
    text-align: left;
}
#doc{
    border:gray 5px solid;
    border-radius:15px;
    float:left;
    height:fit-content;
    width:44%;
    background-color:rgb(196, 194, 194);
    margin-top:30px;
    margin-left:30px;
    padding:10px;
}
#doc2{
    float:left;
    height:fit-content;
    width:100%;
    margin-top:30px;
    margin-left:30px;
    padding:15px;
    color:white;
}
#doc3{
    border-radius:15px;
    float:left;
    height:fit-content;
    width:74%;
    background-color:white;
    margin-top:30px;
    margin-left:30px;
    padding:15px;
    border:rgb(0,153,255) 5px solid;
    font-family:arial black;
    color:rgb(0,153,255);
}
table{
    border:black 1px solid;
    border-collapse: collapse;
}
th{
    border:black 2px solid;
    padding:7px;
}
tr{
    border:black 2px solid;
}
td{
    border:black 1px solid;
    padding:7px;
}
#pics{
    border-radius:15px;
    float:left;
    height:fit-content;
    width:29%;
    background-color:rgb(196, 194, 194);
    margin-top:30px;
    margin-left:30px;
    margin-bottom:15px;
    border:gray 5px solid;
}
h2{
    font-family: 'Stencil', sans-serif;
}
h3{
    font-family: 'Stencil', sans-serif;
}
h4{
    font-family: 'Stencil', sans-serif;
}
u{
    color:blue;
}
#wrapper{
    width:99%;
    float:left;
}
@font-face {
    font-family: 'Universal Union';
    src: url('/pics/Universal-Union.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#top5{
    border-radius: 15px;
    width:99%;
    height:130px;
    float:left;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Stencil', sans-serif;
    border:rgb(51,39,123) 5px solid;
    color:rgb(0, 0, 0);
    background-color:rgba(255,255,255,0.2);
}
#doc5{
    float:left;
    border:rgb(51,39,123) 5px solid;
    border-radius:15px;
    width:44%;
    height:fit-content;
    font-family:Allerta Stencil;
    margin-top:30px;
    margin-left:30px;
    padding:10px;
    background-color:rgba(255,255,255,0.2);
}
#menu3{
    border:gray 5px solid;
    margin-top:30px;
    border-radius: 15px;
    float:left;
    height:fit-content;
    width:14%;
    background-color:rgb(196, 194, 194);
    font-family: 'Stencil', sans-serif;
    padding-bottom:15px;
    text-align: left;
}
#menu4{
    border:rgb(176,124,32) 5px solid;
    margin-top:30px;
    border-radius: 15px;
    float:left;
    height:fit-content;
    width:15%;
    background-color:rgb(61, 61, 61);
    font-family: Arial Black;
    padding-bottom:15px;
    padding:10px;
    text-align: center;
    font-family: 'Universal Union';
    color:rgb(176,124,32);
}
#top4{
    border-radius: 15px;
    color:rgb(176,124,32);
    width:fit-content;
    height:120px;
    float:left;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Universal Union';
}
#doc4{
    border:gray 5px solid;
    border-radius:15px;
    float:left;
    height:fit-content;
    width:44%;
    border:rgb(176,124,32) 5px solid;
    margin-top:30px;
    margin-left:30px;
    padding:10px;
    background-color:rgb(61, 61, 61);
    color:white;
}



#menu5{
    border:rgb(145, 130, 0) 5px solid;
    margin-top:30px;
    border-radius: 15px;
    float:left;
    height:fit-content;
    width:15%;
    background-color:black;
    font-family: Arial Black;
    padding-bottom:15px;
    padding:10px;
    text-align: center;
    color:rgb(176,124,32);
    font-family: 'Allerta Stencil';
    color:rgb(145, 130, 0);
}
#top6{
    border-radius: 15px;
    width:fit-content;
    height:fit-content;
    float:left;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Stencil';
    color:rgb(145, 130, 0);
    background-color: black;
    border:rgb(145, 130, 0) 5px solid;
    padding:10px;
}
#doc6{
    border:gray 5px solid;
    border-radius:15px;
    float:left;
    height:fit-content;
    width:75%;
    border:rgb(145, 130, 0) 5px solid;
    margin-top:30px;
    margin-left:30px;
    padding:10px;
    color:white;
    background-color:rgba(0,0,0,0.5);
}